In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import os

# Load AAPL stock price data
csv_path = 'prices/aa.csv'
df = pd.read_csv(csv_path)
df.tail()

,Price,Adj Close,Close,High,Low,Open,Volume
13639,2024-01-29,30.16330337524414,30.90999984741211,30.969999313354492,29.68899917602539,30.459999084472656,4649100
13640,2024-01-30,29.87055206298828,30.610000610351562,30.84000015258789,30.0,30.34000015258789,4714700
13641,2024-01-31,29.031326293945312,29.75,31.360000610351562,29.71500015258789,30.489999771118164,5760400
13642,2024-02-01,28.9727783203125,29.690000534057617,30.405000686645508,29.149999618530273,30.079999923706055,4174600
13643,2024-02-02,28.77760887145996,29.489999771118164,29.719999313354492,28.549999237060547,29.0,4959000